{% for p in posts %}

<div id="post-{{ p.id }}" class="media border rounded p-2 mt-1">
	<a href="{% url 'profile' p.user.id %}"
		><img src="/media/{{ p.user.avatar }}" width="64" height="64" class="mr-3 rounded-circle img-thumbnail" alt="Avatar"
	/></a>
	<div class="media-body">
		<h5>
			<a href="{% url 'profile' p.user.id %}">{{ p.user.username }}</a>
			{% if p.user.first_name and p.user.last_name %}
			<small class="text-muted font-italic">{{ p.user.first_name }} {{ p.user.last_name }}</small>
			{% endif %}
		</h5>
		<!-- POST SECTION -->
		<div>
			<div id="text-{{ p.id }}" class="text lead mb-1">{{ p.text }}</div>
			{% if p.user == user %}
			<div class="edit-container" data-postid="{{ p.id }}"></div>
			{% endif %}
		</div>
		<!-- END POST -->
		<div class="d-flex flex-row mt-1">
			<div
				class="like-container mr-2"
				data-postid="{{ p.id }}"
				data-counter="{{ p.likes.all.count }}"
				data-isliked="{{p.is_liked_by_auth_user}}"
			></div>
			<div class="comments-container mr-2" id="comments-{{ p.id }}" data-postid="{{ p.id }}"></div>
			<div class="text-muted">{{ p.created }}</div>
		</div>
	</div>
</div>
{% endfor %}
